.env
json/payload-log.json
json/replicate-debug.json
json/generate-icon-debug.json
json/replicate-debug.json
json/request-log.json
/icons/generated
/icons/vectorized
json/replicate-debug.json
/archive
/icons_cleaned
/node_modules
input/backup/Abstract Geometric Art Frame.png
/input/backup
/input/input_pngs
/input/bmp
/input/trimmed
input/svg/svg_names.txt
