.env
json/payload-log.json
json/replicate-debug.json
json/generate-icon-debug.json
json/replicate-debug.json
json/request-log.json
/icons/generated
/icons/vectorized
json/replicate-debug.json
/archive
